* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  min-height: 100svh;
  min-height: 100vh;
}

.navbar {
  height: 10svh;
  background-color: #7bbc71;
}

/* .image-carousel {
    min-height: 90svh;
    background-color: gray;
} */

.d-block {
  object-fit: fill;
  height: 90svh;
}

.first .line {
  width: 5rem;
  height: 0.2rem;
  background-color: black;
}

.first {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5% 20%;
  /* background-color: lightblue; */
}

.first h2 {
  font-size: 3rem;
  margin: 0 0 1rem 0;
}

.first p {
  width: 70%;
  font-size: 1.5rem;
  margin: 2rem 0;
}

.first img {
  width: 400px;
  height: 400px;
}

.first button {
  width: 200px;
  height: 40px;
  background-color: red;
  margin: 0.5rem 0;
}

.offers {
  border: 1px solid black;
}

.offers .box,
.offers .rectangle {
  padding: 0 1rem;
}

.offers h2 {
  font-size: 3rem;
  margin: 4rem 1rem 0 1rem;
  text-align: center;
}

.offers h3 {
  font-size: 2rem;
}

.offers p {
  font-size: 1.1rem;
}

.offers button {
  width: 200px;
  height: 40px;
  margin-top: 1rem;
  background-color: lightblue;
}

.offers img {
  width: 190px;
  height: 190px;
  border: 1px solid black;
}

.boxes,
.rectangles {
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  margin: 2rem;
  position: relative;
}

.box,
.rectangle {
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  width: 500px;
  height: 400px;
  background-color: gray;
}

.rectangle {
  width: 700px;
  height: 400px;
  background-color: gray;
}

.reviews {
  border: 1px solid black;
}

.reviews h2 {
  font-size: 3rem;
  margin: 4rem 1rem 0 1rem;
  text-align: center;
}

.reviews .line {
  margin: auto;
}

.reviews .rectangles {
  /* display: grid;
    grid-template-columns: 1fr 1fr; */
  display: flex;
  flex-wrap: wrap;
}

.reviews .rectangles .rectangle {
  width: 700px;
  height: 400px;
  background-color: gray;
  border-radius: 5%;
}

.updates {
  border: 1px solid black;
}

.updates h2 {
  font-size: 3rem;
  margin: 4rem 1rem 0 1rem;
  text-align: center;
}

.updates .line {
  margin: auto;
}

.updates input {
  width: 50%;
  height: 4rem;
  display: block;
  margin: 1rem auto;
  font-size: 25px;
  padding-left: 15px;
}

.updates button {
  width: 200px;
  height: 40px;
  background-color: green;
  display: block;
  margin: 1rem auto;
}

.footer {
  min-height: 20svh;
  background-color: darkslategrey;
}

/* .carousel {
    width: 50%;
    height: 50%;
  } */
